# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# node modules
/node_modules
npm-debug.log
yarn-error.log

# Env files
.env

package-lock.json
